<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/best-teams.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="team">
      <img class="team-child" alt="" src="{{ url_for('static', filename='images/public/rectangle-443@2x.png') }}" /><img
        class="indian-premier-league-logo-png-icon7"
        alt=""
        src="{{ url_for('static', filename='images/public/indianpremierleaguelogo-png3-1@2x.png') }}"
      /><img
        class="team-item"
        alt=""
        src="{{ url_for('static', filename='images/public/rectangle-613@2x.png') }}"
      /><label class="team-analysis">Best Teams</label>
      <img
        id="t1"
        class="rcb-1-icon"
        alt=""
        src=""
      />
      <img
        id="t2"
        style="transform: scaleX(-1);"
        class="rcb-1-ficon"
        alt=""
        src=""
      />
      <button class="team-child1"></button
      ><img
        class="group-icon14"
        alt=""
        src="{{ url_for('static', filename='images/public/group.svg') }}"
        id="groupIcon1"
      />
    <div class="bg"></div>
      <div class="container pos">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/210/236.png" alt="Image 1" style="width:100%;">
                </div>
                <div class="col-md-4">
                  <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/IPLHeadshot2023/2.png" alt="Image 2" style="width:100%;">
                </div>
                <div class="col-md-4">
                  <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/210/233.png" alt="Image 3" style="width:100%;">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/IPLHeadshot2023/28.png" alt="Image 4" style="width:100%;">
                </div>
                <div class="col-md-4">
                  <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/IPLHeadshot2023/57.png" alt="Image 5" style="width:100%;">
                </div>
                <div class="col-md-4">
                  <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/IPLHeadshot2023/141.png" alt="Image 6" style="width:100%;">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <img src="https://assets.iplt20.com/ipl/IPLHeadshot2022/25.png" alt="Image 7" style="width:100%;">
                </div>
                <div class="col-md-4">
                  <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/IPLHeadshot2023/218.png" alt="Image 8" style="width:100%;">
                </div>
                <div class="col-md-4">
                  <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/IPLHeadshot2023/156.png" alt="Image 9" style="width:100%;">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/IPLHeadshot2023/15.png" alt="Image 10" style="width:100%;">
                </div>
                <div class="col-md-4">
                  <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/210/211.png" alt="Image 11" style="width:100%;">
                </div>
                <!-- Add placeholders for the remaining images in the last slide -->

              </div>
            </div>
          </div>

        </div>
      </div>
    <div>
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="back"></div>
    <img id="bt23" class="bt23" alt="" src="static/images/img/2023bt.jpg"/>
    <img id="bt22" class="bt22" alt="" src="static/images/img/2022bt.jpg"/>
    <img id="bt21" class="bt21" alt="" src="static/images/img/2021bt.jpg"/>
    <img id="bt20" class="bt20" alt="" src="static/images/img/2020bt.jpg"/>
    <img id="bt19" class="bt19" alt="" src="static/images/img/2019bt.jpg"/>
    <img id="bt18" class="bt18" alt="" src="static/images/img/2018bt.jpg"/>
    <img id="bt17" class="bt17" alt="" src="static/images/img/2017bt.jpg"/>
    <img id="bt16" class="bt16" alt="" src="static/images/img/2016bt.jpg"/>
    <img id="bt15" class="bt15" alt="" src="static/images/img/2015bt.jpg"/>


    <script src="{{ url_for('static', filename='js/team.js') }}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

    <script>
      var groupIcon1 = document.getElementById("groupIcon1");
      if (groupIcon1) {
        groupIcon1.addEventListener("click", function (e) {
          window.location.href = "/index";
        });
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
